// 全局SCSS变量

:root {
  --menuBg: #001529;
  --menuText: rgb(254 254 254 / 65%);
  --subMenuBg: #0f0303;
  --subMenuActiveBg: #4091f7;
  --subMenuActiveText: #4091f7;
  --subMenuHover:#0f0303 ;
  --sidebarLogo: #002140;
  --menuHover: transparent;
  --menuActiveText: #fff;
  --subMenuHoverText:#fff;
  --subActiveText:#4091f7;
}

$menuBg: var(--menuBg);
$menuHover: var(--menuHover);
$menuText: var(--menuText);
$menuActiveText: var(--menuActiveText);

$subMenuBg: var(--subMenuBg);
$subMenuActiveBg: var(--subMenuActiveBg);
$subMenuActiveText: var(--subMenuActiveText);

$subMenuHover: var(--subMenuHover);
$subMenuHoverText:var(--subMenuHoverText);
$sidebarLogo: var(--sidebarLogo);
$subActiveText:var(--subActiveText);
$sideBarWidth: 210px;
$muenItemHeight: 50px;